*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
/* navigation bar styles start */
.header{
    margin: 3rem auto;
    width: 90%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    margin: 45px;
    list-style: none;
}
nav  ul li a{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-weight: 400;
    line-height: 23px;
}
.brand{
    font-size: 36px;
    font-weight: 800;
    color: #131318;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-img{
    margin-right: 24px;
}
.brand-logo-color{
    color: #FF5400;
    font-weight: 800;
}
/* navigation bar styles end */
/* banner section styles start */

.banner-container{
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../images/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    max-width: 800px;
    height: 290px;
    margin: 0 auto;
}
.banner-text{
    max-width: 676px;
    margin: 0 auto;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    margin: 0 auto;
}
.banner-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.banner-input-itemes{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);   
    margin-top: 3rem;
    height: 85px;
    padding: 1rem;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.text{
    padding: 16px 30px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.primary-btn{
    padding: 16px 30px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #FF5400;
    cursor: pointer;
    color: #fff;
}
.primary-btn i{
    margin-right: 10px;
    color: #fff;
}
/* banner section styles start */

/* small device responsive design*/
@media screen and (max-width: 576px) {
    nav,
    nav ul,
    .banner-input-itemes

    {
        flex-direction: column;
    }
    .banner-title{
        font-size: 32px;
        text-align: center;
    }
    .banner-text{
        width: 90%;
        margin: 0 auto;
    }
    .banner-description{
        font-size: 14px;
        text-align: center;
        margin-bottom: 32px;
    }
    .banner-input-itemes{
        margin: 0 auto;
        width: 287px;
        gap: 16px;
    }
    .text{
        width: 255px;
    }
    .banner-content{
        width: 100%;
        margin: 0;
    }
    .banner-container{
        display:inline-block;
    }
}




/* nav,
    nav ul,
    .banner-input-itemes
    {
        flex-direction: column;
    }
    .banner-input-itemes{
        margin: 0;
        gap: 8px;
        width: 255px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 31px;
    }
    .banner-text{
        width: 90%;
        margin: 0 auto;
    } */