* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* navigation bar styles start */
.header {
    margin: 3rem auto;
    width: 90%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    margin: 45px;
    list-style: none;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-weight: 400;
    line-height: 23px;
}

.brand {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-img {
    margin-right: 24px;
}

.brand-logo-color {
    color: #FF5400;
    font-weight: 800;
}

/* navigation bar styles end */
/* banner section styles start */

.banner-container {
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url('../images/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 800px;
    height: 290px;
    margin: 0 auto;
}

.banner-text {
    max-width: 676px;
    margin: 0 auto;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    margin: 0 auto;
}

.banner-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.banner-input-itemes {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 3rem;
    height: 85px;
    padding: 1rem;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.text {
    padding: 16px 30px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.primary-btn {
    padding: 16px 30px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #FF5400;
    cursor: pointer;
    color: #fff;
}

.primary-btn i {
    margin-right: 10px;
    color: #fff;
}

/* banner section styles end */

/* shared styles start */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 120px;
}

.color-description {
    color: #131318;
    padding: 30px 0;
}

/* shared styles end */
/* tour spot container styles start */

.tour-spot-container {
    display: flex;
    justify-content: space-between;
}

.tour-spot-text {
    max-width: 780px;
    height: 490px;
    padding: 30px;
}

.spot-title {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 35px;
}

.tour-spot-content img {
    width: 540px;
}

.spot-point li {
    margin-bottom: 20px;
}

/* tour spot container styles end */

/* destination container styles start */

.destination-container {
    /* max-width: 1440px; */
    margin: 0 auto;
    margin-top: 130px;
}

.destination-text {
    max-width: 650px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.destination-text h3,
p {
    text-align: center;
}

.destination-text h3 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 26px;
    color: #131318;
}

.destination-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;

}

/* destination container styles ends */

/* services-container styles start */


.services-text {
    max-width: 650px;
    height: auto;
    margin: 0 auto;
}

.services-text>h3 {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.card>h3 {
    margin-top: 38px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 35px;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.card {
    padding: 32px;
    max-width: 573px;
    height: 284px;
}

.items {
    max-width: 486px;
    height: 124px;
}

#blue {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

#green {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

#red {
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

/* services-container styles end */

/* small device responsive design*/
@media screen and (max-width: 576px) {

    nav,
    nav ul,
    .banner-input-itemes,
    .tour-spot-container ,
    .services-content
    
    {
        flex-direction: column;
    }

    .banner-input-itemes {
        width: 240px;
        height: auto;
        gap: 13px;
        margin: 0 auto;
        margin-top: 22px;
    }

    .banner-title {
        font-size: 32px;
        margin: 0;
        text-align: center;
        line-height: 40px;
    }

    .banner-description {
        font-size: 13px;
    }

    .banner-container {
        height: 490px;
        width: 100%;
    }

    .banner-content {
        height: auto;
    }

    .banner-text {
        display: inline-block;
        margin: 10px 20px;
    }

    .tour-spot-text {
        height: auto;
        width: 350px;
    }

    .tour-spot-content img {
        max-width: 376px;
        justify-items: center;
    }

    .tour-spot-container {
        margin: 34px;
        justify-items: center;
    }

    .image img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        margin: 20px;
    }

    .destination-container {
        margin: 20px;
    }

    .destination-text {
        height: auto;
    }

    .destination-content {
        margin: 20px;
        gap: 0;
        padding: 14px;
    }

    .card{
        height: auto;
        width: 100%;
    }
}